body{
  background-color: papayawhip;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

img {
    display: flex;
    max-width: 100%;
    height: auto;
}

div.main {
    max-width: 800px;
    margin: 0 auto;
}

div.asia {
display: flex; row;
}

/* FOR SMALLER SCREENS */
@media (max-width: 700px) {

  }

div.main {
  max-width: 700px;
  margin: 0 auto;
}

div.australia {
  display: flex;
  flex-direction: row;
}
div.europe {
  display: flex;
  flex-direction: row;
}
div.North-America {
  display: flex;
  flex-direction: row;
}
